.snake-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome {
    width: 600px;
    height: 600px;
    outline: 1px solid black;
    display: flex;
    align-items: stretch;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.welcome-message {
    font-size: 3em;
    margin-bottom: 1em;
    margin-top: 1em;
}

button {
    background-color:red; /* Green */
    border: none;
    color: white;
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    border-radius: 0.5em;
}


.grid {
    outline: 1px solid black;
    width: 600px;
    height: 600px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.grid-item {
    width: 20px;
    height: 20px;
}

.is-food {
    background-color: red;
}


.snake-head {
    background-color: black;
}

.snake-tail {
    background-color: black;
}

.snake-image {
    max-width: 20%;
}