body {
    background-image: url("../images/pixel-tile.png");
    background-repeat: repeat;
}

.snake-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome {
    background-color: black;
    width: 600px;
    height: 600px;
    display: flex;
    align-items: stretch;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.welcome-message {
    font-family: 'Press Start 2P', cursive;
    color: white;
    font-size: 3em;
    margin-bottom: 1em;
    margin-top: 1em;
    letter-spacing: 20px;
}

.snake-image {
    margin-bottom: 3em;
    max-width: 20%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    -webkit-animation: animate 5s linear infinite;
    animation: animate 5s linear infinite;
}

@-webkit-keyframes animate {
    to {
        -webkit-transform: rotateY(-360deg);
                transform: rotateY(-360deg);
    }
}

@keyframes animate {
    to {
        -webkit-transform: rotateY(-360deg);
                transform: rotateY(-360deg);
    }
}


button {
    font-family: 'Press Start 2P', cursive;
    background-color: black;
    color: white;
    padding: 1em 1em;
    border: 0;
    outline: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;    
}

button:hover {
    color: gray;
}


.grid {
    background:black;
    width: 50vw;
    height: 50vw;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.grid-item {
    width: 3%;
    height: 3%;
    border: 1px solid white;

}

.is-food {
    background-color: red;
}


.snake-head {
    background-color:#39ff14;
}

.snake-tail {
    background-color: #39ff14;
}

