.snake-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome {
    width: 600px;
    height: 600px;
    outline: 1px solid black;
    display: flex;
    align-items: stretch;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.welcome-message {
    font-size: 3em;
    margin-bottom: 2em;
}

.start-btn {
    font-size: 2em;
}

.grid {
    outline: 1px solid black;
    width: 600px;
    height: 600px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.grid-item {
    width: 20px;
    height: 20px;
}

.is-food {
    background-color: red;
}


.snake-head {
    background-color: black;
}

.snake-tail {
    background-color: black;
}